* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    align-items: center;
    background-image: url(https://fondosmil.com/fondo/16841.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    color: #454747;
}

ul, li {
    text-decoration: none;
}

#root {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
