.liTodoItem {
    border-bottom: solid 1px #cacaca;
    display: flex;
    justify-content: space-between; /* cambio realizado aqui */
    padding: 16px;
}

.liTodoItem:hover {
    background-color: #e7e7e7;
}

.liTodoItem span, .liTodoItem nav {
    color: #cacaca;
}


.liTodoItem span:hover {
    color: #1854e1;
}

.liTodoItem p {
    position: absolute;
    margin-left: 32px;
}


.liTodoItem nav ul li ul{
    display: none;
    position: absolute;
    padding: 4px;
    background-color: #f5f5f5;
    transform: translateX(-100%);
    border-radius: 8px;
}

.liTodoItem nav ul li:hover,
.liTodoItem nav ul li ul li:hover,
.liTodoItem nav ul li ul li span:hover {
    color: #1854e1;
}

.liTodoItem nav ul li:hover > ul{
    display:block;
    color: #656565;
}

.liTodoItem nav ul li ul li {
    border-bottom: solid 1px #d4d4d4;
    padding: 8px;    
    display: flex;
    justify-content: space-between;
    width: 100px;
    border-radius: 8px;
    font-weight: 700;
}

.liTodoItem nav ul li ul li span {
    color: #656565;
}


