.liTodoItem {
    border-bottom: solid 1px #cacaca;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.liTodoItem:hover {
    background-color: #e7e7e7;
}

.liTodoItem span, .liTodoItem nav {
    color: #cacaca;
}




.liTodoItem nav ul li ul {
    display: none;
    position: absolute;
    width: 150px;
    height: 80px;
}

.liTodoItem ul ul li {
 float:none;
 width: 150px;
}

.liTodoItemul nav ul li:hover > .liTodoItem nav ul li ul{
    display:block;
}


